html
{
  text-align: justify;
}

body
{
  text-align: justify;
  height: 100vh;
  background-image:url("../img/header.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1 {
  font-size: 1.602em;
}
h2 {
  font-size: 1.424em;
}
h3 {
  font-size: 1.266em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 0.889em;
}
h6 {
  font-size: 0.79em;
}
.display-1 {
  font-size: 3.906em;
}
.display-2 {
  font-size: 3.125em;
}
.display-3 {
  font-size: 2.5em;
}
.display-4 {
  font-size: 2em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  .display-1 {
    font-size: 6em;
  }
  .display-2 {
    font-size: 5.5em;
  }
  .display-3 {
    font-size: 4.5em;
  }
  .display-4 {
    font-size: 3.5em;
  }
}

.header
{
  height: 45vh;
  margin-top: 25vh;
  min-height: 150px;
  overflow: hidden;
}

.header h1
{
  color: #fff;
  font-weight: bold;
}

.header li
{
  font-size: 20px;
  color: #fff;
}

.image-block
{
  float:left;
  width:100%;
  margin-bottom:10px;
}

.plot
{
  padding: 0;
}

hr
{
	border-top: 1px solid #cccccc;
}

.bd-callout
{
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout-primary
{
  border-left-color: tomato;
}

a
{
  text-decoration: none;
  color: inherit;
  position: relative;
  cursor: pointer;
}

a.magic-btn::before
{
  content: ' ';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -2px;
  padding: 0 2px;
  width: calc(100% + 2px);
  height: 1px;
  border-bottom: 1px solid tomato;
  transition: 0.4s;
}

a.magic-btn::after
{
  content: ' ';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: calc(50% - 4px);
  padding: 0 2px;
  width: 0;
  height: 0;
  border: 1px solid transparent;
  transition: 0.4s;
}

a.magic-btn:hover::before
{
  border-color: transparent;
}

a.magic-btn:hover::after
{
  width: 120%;
	height: 1.25em;
	left: -10%;
	bottom: 0;
	padding: 0.5em 1em;
  border-color: tomato;
  background-color: tomato;
  border-radius: 2.5em;
}

a.magic-btn
{
  display: inline-block;
  transition: 0.3s;
  transition-delay: 0s;
  transform: scale(1);
}

a.magic-btn:hover
{
  color: #fff;
  transform: scale(1.2);
  transition-delay: 0.11s;
}
